<div class="content-all-ratios">
  <div class="table-responsive col-sm-12 content-ratio" ng-scrollable>
    <table class="table table-striped table-hover table-condensed">
      <thead>
        <tr>
          <th class="col-sm-1">&nbsp;</th>
          <th class="col-sm-2">&nbsp;</th>
          <th ng-repeat-start="week in ctrl.contestCentreService.getRatioWeeks() track by $index">&nbsp;</th>
          <th>J{{week.Journees_Journee}}</th>
          <th ng-repeat-end>&nbsp;</th>
        </tr>
        <tr>
          <th class="col-sm-1">&nbsp;</th>
          <th class="col-sm-1">Match</th>
          <th ng-repeat-start="week in ctrl.contestCentreService.getRatioWeeks() track by $index">&nbsp;</th>
          <th>{{week.Scores_Match}}</th>
          <th ng-repeat-end>&nbsp;</th>
        </tr>
        <tr>
          <th class="col-sm-1">&nbsp;</th>
          <th class="col-sm-1">Buteur</th>
          <th ng-repeat-start="week in ctrl.contestCentreService.getRatioWeeks() track by $index">&nbsp;</th>
          <th>{{week.Scores_Buteur}}</th>
          <th ng-repeat-end>&nbsp;</th>
        </tr>
        <tr>
          <th class="col-sm-1">Rang</th>
          <th class="col-sm-2">Joueurs</th>
          <th ng-repeat-start="week in ctrl.contestCentreService.getRatioWeeks() track by $index">Points</th>
          <th>% match</th>
          <th ng-repeat-end>% buteur</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="forecaster in ctrl.contestCentreService.getRatioForecasters()" ng-init="parentIndex = $index">
          <td class="col-sm-1">{{$index + 1}}</td>
          <td>{{forecaster.Pronostiqueurs_NomUtilisateur}}</td>
          <td ng-repeat-start="week in ctrl.contestCentreService.getRatioWeeks()" ng-init="innerIndex = $index">
            {{ctrl.contestCentreService.getRatioData(parentIndex, innerIndex).Classements_PointsJourneeMatch}}
          </td>
          <td>{{ctrl.contestCentreService.getRatioData(parentIndex, innerIndex).Ratio_Match | number:2}}%</td>
          <td ng-repeat-end>{{ctrl.contestCentreService.getRatioData(parentIndex, innerIndex).Ratio_Buteur | number:2}}%</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>