<div ng-if="ctrl.forecastService.getCurrentMatch() !== null && ctrl.forecastService.getCurrentMatch() !== undefined">
  <!--Logistique-->
  <div class="row">
    <div class="col-sm-12">

      <h5 ng-class="{'danger': ctrl.forecastService.getDateAndMaxDateDifferent(), 'success': !ctrl.forecastService.getDateAndMaxDateDifferent()}">{{ctrl.forecastService.limitDateLabel}}</h5>
    </div>
  </div>

  <!--Partie affiche de la rencontre-->
  <div class="row">
    <!--Equipe domicile-->
    <div class="col-sm-4 centered">
      <h5>{{ctrl.forecastService.getCurrentMatch().EquipesDomicile_Nom}}</h5>
      <div class="col-sm-12">
        <img ng-src="dist/images/equipes/{{ctrl.forecastService.getCurrentMatch().EquipesDomicile_Fanion}}">
      </div>
    </div>

    <!--Partie centrale-->
    <div class="col-sm-2 centered">
      <h2>{{ctrl.forecastService.matchLabel}}</h2>
    </div>

    <!--Equipe visiteur-->
    <div class="col-sm-4 centered">
      <h5>{{ctrl.forecastService.getCurrentMatch().EquipesVisiteur_Nom}}</h5>
      <div class="col-sm-12">
        <img ng-src="dist/images/equipes/{{ctrl.forecastService.getCurrentMatch().EquipesVisiteur_Fanion}}">
      </div>
    </div>
  </div>

  <!--Partie cote-->
  <div class="row">
    <!--Cote équipe domicile-->
    <div class="col-sm-4 centered">
      <span>
        {{ctrl.forecastService.getCurrentMatch().Championnats_Championnat != 5 ? "Cote victoire : " : "Points qualification : "}}
        {{ctrl.forecastService.getCurrentMatch().Matches_CoteEquipeDomicile}}
      </span>
    </div>

    <!--Cote du match nul-->
    <div class="col-sm-2 centered">
      <span ng-if="ctrl.forecastService.getCurrentMatch().Matches_CoteNul">
        Cote du nul : {{ctrl.forecastService.getCurrentMatch().Matches_CoteNul}}
      </span>
    </div>

    <!--Cote équipe visiteur-->
    <div class="col-sm-4 centered">
      <span>
        {{ctrl.forecastService.getCurrentMatch().Championnats_Championnat != 5 ? "Cote victoire : " : "Points qualification : "}}
        {{ctrl.forecastService.getCurrentMatch().Matches_CoteEquipeVisiteur}}
      </span>
    </div>
  </div>

<!--Partie points de qualification match aller-->
<div class="row" ng-if="ctrl.forecastService.getCurrentMatch().Matches_TypeMatch == 2">
  <!--Points qualification équipe domicile-->
  <div class="col-sm-4 centered">
    <span>
        Points qualification : {{ctrl.forecastService.getCurrentMatch().Matches_PointsQualificationEquipeDomicile}}
    </span>
  </div>

  <!--Pas de points de qualification pour le match nul bien entendu-->
  <div class="col-sm-2 centered">
  </div>

  <!--Points qualification équipe visiteur-->
  <div class="col-sm-4 centered">
    <span>
        Points qualification : {{ctrl.forecastService.getCurrentMatch().Matches_PointsQualificationEquipeVisiteur}}
    </span>
  </div>
</div>

  <!--Partie score-->

  <!--Spécificité des confrontations directes avec le score aller et retour dans la même page-->
  <!--Modifiables sur le match aller et seulement en affichage sur le match retour-->

  <!--Score 90'-->
  <div class="row">
    <!--Equipe domicile-->
    <div class="col-sm-4 right">
      <div class="col-sm-3 col-sm-offset-9">
        <select class="form-control"
                ng-model="ctrl.forecastService.getCurrentMatch().Pronostics_ScoreEquipeDomicile"
                ng-change="ctrl.onChange(0)">
          <option ng-selected="{{ctrl.forecastService.getCurrentMatch().Pronostics_ScoreEquipeDomicile == score}}"
                  ng-repeat="score in ctrl.forecastService.getScores() track by $index"
                  value="{{score}}">
            {{score}}
          </option>
        </select>
      </div>
    </div>

    <!--Partie centrale-->
    <div class="col-sm-2 centered">
      <span>90'</span>
    </div>

    <!--Equipe visiteur-->
    <div class="col-sm-4">
      <div class="col-sm-3">
        <select class="form-control"
                ng-model="ctrl.forecastService.getCurrentMatch().Pronostics_ScoreEquipeVisiteur"
                ng-change="ctrl.onChange(1)">
          <option ng-selected="{{ctrl.forecastService.getCurrentMatch().Pronostics_ScoreEquipeVisiteur == score}}"
                  ng-repeat="score in ctrl.forecastService.getScores() track by $index"
                  value="{{score}}">
            {{score}}
          </option>
        </select>
      </div>
    </div>
  </div>

  <!--Score AP-->
  <div class="row" ng-if="ctrl.forecastService.displayScoresExtra">
    <!--Equipe domicile-->
    <div class="col-sm-4 right">
      <div class="col-sm-3 col-sm-offset-9">
        <select class="form-control"
                ng-model="ctrl.forecastService.getCurrentMatch().Pronostics_ScoreAPEquipeDomicile"
                ng-change="ctrl.onChange(2)">
              <option ng-selected="{{ctrl.forecastService.getCurrentMatch().Pronostics_ScoreAPEquipeDomicile == score}}"
                      ng-repeat="score in ctrl.forecastService.getScoresExtraA() track by $index"
                      value="{{score}}">
                {{score}}
              </option>
            </select>
      </div>
    </div>

    <!--Partie centrale-->
    <div class="col-sm-2 centered">
      <span>AP</span>
    </div>

    <!--Equipe visiteur-->
    <div class="col-sm-4">
      <div class="col-sm-3">
        <select class="form-control"
                ng-model="ctrl.forecastService.getCurrentMatch().Pronostics_ScoreAPEquipeVisiteur"
                ng-change="ctrl.onChange(3)">
          <option ng-selected="{{ctrl.forecastService.getCurrentMatch().Pronostics_ScoreAPEquipeVisiteur == score}}"
                  ng-repeat="score in ctrl.forecastService.getScoresExtraB() track by $index"
                  value="{{score}}">
                {{score}}
          </option>
        </select>
      </div>
    </div>
  </div>

  <!--TAB-->
  <div class="row" ng-if="ctrl.forecastService.displayShooting">
    <!--Equipe domicile-->
    <div class="col-sm-4 right">
      <label class="radio-inline">
        {{ctrl.forecastService.getCurrentMatch().EquipesDomicile_Nom}}
      </label>
      <input type="radio" name="shooting" id="shootingA" value="1" ng-model="ctrl.forecastService.getCurrentMatch().Pronostics_Vainqueur" ng-change="ctrl.onChange(4)">
    </div>

    <!--Partie centrale-->
    <div class="col-sm-2 centered">
      <span class="alert"
            ng-class="{'alert-success': ctrl.forecastService.getCurrentMatch().Pronostics_Vainqueur == 1 || ctrl.forecastService.getCurrentMatch().Pronostics_Vainqueur == 2, 'alert-danger': ctrl.forecastService.getCurrentMatch().Pronostics_Vainqueur != 1 && ctrl.forecastService.getCurrentMatch().Pronostics_Vainqueur != 2}">
        TAB
      </span>
    </div>

    <!--Equipe visiteur-->
    <div class="col-sm-4">
      <input type="radio" name="shooting" id="shootingB" value="2" ng-model="ctrl.forecastService.getCurrentMatch().Pronostics_Vainqueur" ng-change="ctrl.onChange(4)">
      <label class="radio-inline">
        {{ctrl.forecastService.getCurrentMatch().EquipesVisiteur_Nom}}
      </label>
    </div>
  </div>
</div>
