<!--Joueurs en mode LG-->
<div uib-collapse="ctrl.collapsedPlayers()" class="players-list" id="matchPlayers">
  <div class="row">
    <div class="col-sm-5">
      <div class="col-sm-4" ng-repeat="player in ctrl.playersA track by $index">
        <span class="col-sm-10 right nowrap">
          <span class="forecast-player" ng-click="ctrl.addScorer({player: player, teamAOrB: 0})">{{player.Joueurs_NomComplet}}</span>
        </span>
        <span class="col-sm-1 centered player-position player-position-a" ng-class="{'forward': player.Postes_Poste == 4, 'midfielder': player.Postes_Poste == 3, 'defender': player.Postes_Poste == 2}">
                  {{player.JoueursCotes_Cote}}
            </span>
      </div>
    </div>

    <div class="col-sm-2 centered">
      <span class="col-sm-offset-2 col-sm-2 forward centered">ATT</span>
      <span class="col-sm-offset-1 col-sm-2 midfielder centered">MIL</span>
      <span class="col-sm-offset-1 col-sm-2 defender centered">DEF</span>
    </div>

    <div class="col-sm-5">
      <div class="col-sm-4" ng-repeat="player in ctrl.playersB track by $index">
        <span class="col-sm-1 centered player-position player-position-b" ng-class="{'forward': player.Postes_Poste == 4, 'midfielder': player.Postes_Poste == 3, 'defender': player.Postes_Poste == 2}">{{player.JoueursCotes_Cote}}</span>
        <span class="col-sm-9 left nowrap">
          <span class="forecast-player" ng-click="ctrl.addScorer({player: player, teamAOrB: 1})">{{player.Joueurs_NomComplet}}</span>
        </span>
      </div>
    </div>
  </div>
</div>
