<div class="col-sm-12 championship-and-week-lg">
  <div class="btn-group" role="group">
    <button type="button" ng-class="{'btn': true, 'btn-default': championshipAndWeek != ctrl.forecastService.currentChampionshipAndWeek, 'btn-primary': championshipAndWeek == ctrl.forecastService.currentChampionshipAndWeek}"
      ng-repeat="championshipAndWeek in ctrl.forecastService.championshipsAndWeeks track by $index" ng-click="ctrl.selectChampionshipAndWeek(championshipAndWeek)">
      {{ championshipAndWeek.Championnats_Nom }} - {{championshipAndWeek.Journees_Nom}}
      </button>
  </div>
</div>

<div class="col-sm-12 matches-lg">
  <div class="btn-group matches-light" role="group">
    <button type="button" ng-class="{'btn': true, 'btn-default': matchLight.Match != ctrl.forecastService.currentMatchLight.Match, 'btn-warning': matchLight.Match == ctrl.forecastService.currentMatchLight.Match}"
      ng-repeat="matchLight in ctrl.forecastService.matchesLight track by $index" ng-click="ctrl.selectMatchLight(matchLight)">
      {{ matchLight.EquipesDomicile_Sigle }} - {{ matchLight.EquipesVisiteur_Sigle }}
      </button>
  </div>
</div>

<ui-view ng-if="ctrl.forecastService.getCurrentMatchLight() !== null">
  <forecast-match-single ng-if="ctrl.forecastService.getCurrentMatchLight().Matches_TypeMatch != 2 && ctrl.forecastService.getCurrentMatchLight().Matches_TypeMatch != 3">
  </forecast-match-single>
  
  <forecast-match-face-off ng-if="ctrl.forecastService.getCurrentMatchLight().Matches_TypeMatch == 2">
  </forecast-match-face-off>
</ui-view>
