<!--Affichage du classement buteur en mode LG-->
<div ng-if="!ctrl.generalService.isSmallScreen()" class="col-xs-12 full-height">
  <div class="table-responsive full-height" ng-scrollable>
    <standings-scorer-content class="full-height"></standings-scorer-content>
  </div>
</div>

<!--Affichage du classement buteur en mode XS-->
<div ng-if="ctrl.generalService.isSmallScreen()" class="col-xs-12">
  <div class="table-responsive full-height" ng-if="ctrl.standingsService.currentStandings.value == 2">
    <standings-scorer-content class="full-height"></standings-scorer-content>
  </div>
</div>