<!--Affichage du classement général en mode LG-->
<div ng-if="!ctrl.generalService.isSmallScreen()" class="col-xs-12 full-height">
  <div class="table-responsive full-height" ng-scrollable>
    <standings-general-content class="full-height"></standings-general-content>
  </div>
</div>

<!--Affichage du classement général en mode XS-->
<div ng-if="ctrl.generalService.isSmallScreen()" class="col-xs-12">
  <div class="table-responsive full-height"
       ng-if="ctrl.standingsService.currentStandings.value == 0">
    <standings-general-content class="full-height"></standings-general-content>
  </div>
</div>