<!--Affichage du classement journée en mode LG-->
<div ng-if="!ctrl.generalService.isSmallScreen()" class="col-xs-12 full-height">
  <div class="table-responsive full-height" ng-scrollable>
    <standings-week-content class="full-height"></standings-week-content>
  </div>
</div>

<!--Affichage du classement journée en mode XS-->
<div ng-if="ctrl.generalService.isSmallScreen()" class="col-xs-12">
  <div class="table-responsive full-height" ng-if="ctrl.standingsService.currentStandings.value == 1">
    <standings-week-content class="full-height"></standings-week-content>
  </div>
</div>