<!-- Choix du pronostiqueur gauche et droite -->
<div class="btn-group left-right-forecaster" role="group">
  <button type="button" ng-class="{'btn': true, 'btn-default': !ctrl.getLeftForecaster(), 'btn-primary': ctrl.getLeftForecaster()}"
    ng-click="ctrl.setLeftForecaster()">
    Premier pronostiqueur
  </button>
  <button type="button" ng-class="{'btn': true, 'btn-default': !ctrl.getRightForecaster(), 'btn-warning': ctrl.getRightForecaster()}"
    ng-click="ctrl.setRightForecaster()">
    Deuxième pronostiqueur
  </button>
</div>

<div class="col-xs-offset-1 col-xs-10 contest-list-area" ng-scrollable="{scrollX:'none'}">
  <div class="row">
    <div class="col-xs-6 col-md-2" ng-repeat="forecasterLight in ctrl.contestCentreService.forecastersLight track by $index"
      ng-click="ctrl.selectForecaster(forecasterLight)" ng-class="{'active': forecasterLight == ctrl.contestCentreService.currentForecasterLight}">
      <span class="col-xs-2">
        <img class="forecaster-photo" ng-if="forecasterLight.Pronostiqueurs_Photo" ng-src="dist/images/pronostiqueurs/{{forecasterLight.Pronostiqueurs_Photo}}" alt="Photo du pronostiqueur">
        <img class="forecaster-photo" ng-if="!forecasterLight.Pronostiqueurs_Photo" ng-src="dist/images/pronostiqueurs/_inconnu.png" alt="Photo du pronostiqueur">
      </span>
      <span class="col-xs-8 forecaster-light" ng-class="{'forecaster-light-single-selected': forecasterLight === ctrl.contestCentreService.currentForecasterLight}">
        &nbsp;{{forecasterLight.Pronostiqueurs_NomUtilisateur}}
      </span>
    </div>
  </div>
</div>

<div class="col-xs-12 row full-height standings-svg">
  <hr>
  <svg></svg>
</div>
