<!-- Choix du pronostiqueur gauche et droite -->
<div class="btn-group left-right-forecaster" role="group">
  <button type="button" ng-class="{'btn': true, 'btn-default': !ctrl.getLeftForecaster(), 'btn-primary': ctrl.getLeftForecaster()}"
    ng-click="ctrl.setLeftForecaster()">
    Premier pronostiqueur
  </button>
  <button type="button" ng-class="{'btn': true, 'btn-default': !ctrl.getRightForecaster(), 'btn-warning': ctrl.getRightForecaster()}"
    ng-click="ctrl.setRightForecaster()">
    Deuxième pronostiqueur
  </button>
</div>

<div class="col-sm-12 content-all-forecasters content-scrollable">
  <div class="col-sm-6 col-md-2" ng-repeat="forecasterLight in ctrl.contestCentreService.forecastersLight track by $index"
    ng-click="ctrl.selectForecaster(forecasterLight)" ng-class="{'active': forecasterLight == ctrl.contestCentreService.currentForecasterLight}">
    <span class="col-sm-3">
      <img class="forecaster-photo" ng-if="forecasterLight.Pronostiqueurs_Photo" ng-src="dist/images/pronostiqueurs/{{forecasterLight.Pronostiqueurs_Photo}}" alt="Photo du pronostiqueur">
      <img class="forecaster-photo" ng-if="!forecasterLight.Pronostiqueurs_Photo" ng-src="dist/images/pronostiqueurs/_inconnu.png" alt="Photo du pronostiqueur">
    </span>
    <span class="col-sm-9">
      {{forecasterLight.Pronostiqueurs_NomUtilisateur}}
    </span>
</div>
</div>

<div class="col-sm-12 standings-svg">
  <svg></svg>
</div>
