@import "partials/_variables.less";
@import "partials/_navbar.less";
@import "partials/_layout.less";
@import "partials/_bootstrap-overload.less";
@import "partials/_contest-centre.less";
@import "partials/_forecast.less";
@import "partials/_standing.less";
@import "partials/_ng-scrollable-overload.less";


// Commun (équivalent ici à ordinateur et tablette)
.centered {
  text-align: center;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.resize-none {
  textarea {
    resize: none;
  }
}


.success {
  color: @match-logistics-color-success;
}

.danger {
  color: @match-logistics-color-danger;
}

.right {
  .radio-inline {
    padding-left: @radio-inline-right-padding-left;
    padding-right: @radio-inline-right-padding-right;
  }
}

.nowrap {
  white-space: nowrap;
  overflow: hidden;
}


// Mobile
@media screen and (max-width: 767px) {

}
