<div class="row">
  <div class="col-xs-5 right">
    <p ng-if="ctrl.scorersA.length == 0">Aucun buteur pronostiqué</p>
    <p ng-if="ctrl.scorersA.length > 0">
      <span class="forecast-scorer"
            ng-repeat="forecastScorer in ctrl.scorersA track by $index"
            ng-click="ctrl.deleteScorer({$index: $index, forecastScorer: forecastScorer, teamAOrB: 0})">
          {{forecastScorer.Joueurs_NomComplet}}{{$last ? '' : ', '}}
      </span>
    </p>
  </div>

  <div class="col-xs-2 centered">
    <button type="button" class="btn btn-default" ng-click="ctrl.collapsePlayers()"
            ng-if="ctrl.forecastService.getCurrentMatchLight().Matches_TypeMatch != 2 && ctrl.forecastService.getCurrentMatchLight().Matches_TypeMatch != 3">
      Buteurs&nbsp;
      <span ng-if="ctrl.forecastService.getCurrentSingleMatchCollapsedPlayers()" class="glyphicon glyphicon-chevron-down"></span>
      <span ng-if="!ctrl.forecastService.getCurrentSingleMatchCollapsedPlayers()" class="glyphicon glyphicon-chevron-up"></span>
    </button>
    <button type="button" class="btn btn-default" ng-click="ctrl.collapsePlayers()"
            ng-if="ctrl.forecastService.getCurrentMatchLight().Matches_TypeMatch == 2">
      Buteurs&nbsp;
      <span ng-if="ctrl.forecastService.getCurrentFirstMatchCollapsedPlayers()" class="glyphicon glyphicon-chevron-down"></span>
      <span ng-if="!ctrl.forecastService.getCurrentFirstMatchCollapsedPlayers()" class="glyphicon glyphicon-chevron-up"></span>
    </button>
    <button type="button" class="btn btn-default" ng-click="ctrl.collapsePlayers()"
            ng-if="ctrl.forecastService.getCurrentMatchLight().Matches_TypeMatch == 3">
      Buteurs&nbsp;
      <span ng-if="ctrl.forecastService.getCurrentSecondMatchCollapsedPlayers()" class="glyphicon glyphicon-chevron-down"></span>
      <span ng-if="!ctrl.forecastService.getCurrentSecondMatchCollapsedPlayers()" class="glyphicon glyphicon-chevron-up"></span>
    </button>
  </div>

  <div class="col-xs-5 left">
    <p ng-if="ctrl.scorersB.length == 0">Aucun buteur pronostiqué</p>
    <p ng-if="ctrl.scorersB.length > 0">
      <span class="forecast-scorer"
            ng-repeat="forecastScorer in ctrl.scorersB track by $index"
            ng-click="ctrl.deleteScorer({$index: $index, forecastScorer: forecastScorer, teamAOrB: 1})">
        {{forecastScorer.Joueurs_NomComplet}}{{$last ? '' : ', '}}
      </span>
    </p>
  </div>
</div>
