<div class="col-xs-offset-1 col-xs-10 centered full-height"
     ng-if="ctrl.forecastService.getCurrentFirstMatch() !== null && ctrl.forecastService.getCurrentSecondMatch() !== null"
     ng-scrollable>
  <!--Logistique du match aller-->
  <div class="row">
    <div class="col-xs-12 centered">
      <h6 class="success">Match et max prono. {{ctrl.forecastService.currentFirstMatchLimitDateLabel}}</h6>
    </div>
  </div>

  <!--Affiche du match aller-->
  <div class="row">
    <div class="col-xs-5 centered">
      <!--Equipe domicile-->
      <h6>{{ctrl.forecastService.getCurrentFirstMatch().EquipesDomicile_Nom}}</h6>
      <div class="col-xs-12">
        <img class="forecast-team-logo" ng-src="dist/images/equipes/{{ctrl.forecastService.getCurrentFirstMatch().EquipesDomicile_Fanion}}">
      </div>
    </div>

    <!--Partie centrale-->
    <div class="col-xs-2 centered">
      <h5>ALLER</h5>

      <div class="coefficient-container">
        <!--Coefficient du match différent de 1 (pour une demi-finale ou une finale de coupe européenne)-->
        <div class="coefficient-2" ng-if="ctrl.forecastService.getCurrentFirstMatch().PronosticsCarreFinal_Coefficient == 2"></div>
        <div class="coefficient-3" ng-if="ctrl.forecastService.getCurrentFirstMatch().PronosticsCarreFinal_Coefficient == 3"></div>
      </div>
    </div>

    <!--Equipe visiteur-->
    <div class="col-xs-5 centered">
      <h6>{{ctrl.forecastService.getCurrentFirstMatch().EquipesVisiteur_Nom}}</h6>
      <div class="col-xs-12">
        <img class="forecast-team-logo" ng-src="dist/images/equipes/{{ctrl.forecastService.getCurrentFirstMatch().EquipesVisiteur_Fanion}}">
      </div>
    </div>
  </div>

  <!--Cotes du match aller-->
  <div class="row">
    <!--Cote équipe domicile-->
    <div class="col-xs-5 centered">
      <span>Cote {{ctrl.forecastService.getCurrentFirstMatch().Matches_CoteEquipeDomicile}}</span>
    </div>

    <!--Cote du match nul-->
    <div class="col-xs-2 centered">
      <span>Nul {{ctrl.forecastService.getCurrentFirstMatch().Matches_CoteNul}}</span>
    </div>

    <!--Cote équipe visiteur-->
    <div class="col-xs-5 centered">
      <span>Cote {{ctrl.forecastService.getCurrentFirstMatch().Matches_CoteEquipeVisiteur}}</span>
    </div>
  </div>

  <!--Score 90' du match aller-->
  <div class="row">
    <!--Equipe domicile-->
    <div class="col-xs-5 right">
      <div class="col-xs-3 col-xs-offset-9">
        <select class="form-control"
                ng-model="ctrl.forecastService.getCurrentFirstMatch().Pronostics_ScoreEquipeDomicile"
                ng-change="ctrl.onChangeScoreFaceOff(0)"
                ng-disabled="ctrl.forecastService.getCurrentFirstMatch().Matches_Pronostiquable == 0">
          <option ng-selected="{{ctrl.forecastService.getCurrentFirstMatch().Pronostics_ScoreEquipeDomicile == score}}"
                  ng-repeat="score in ctrl.forecastService.getScores() track by $index"
                  value="{{score}}">
            {{score}}
          </option>
        </select>
      </div>
    </div>

    <!--Partie centrale-->
    <div class="col-xs-2 centered">
      <span>90'</span>
    </div>

    <!--Equipe visiteur-->
    <div class="col-xs-5">
      <div class="col-xs-3">
        <select class="form-control"
                ng-model="ctrl.forecastService.getCurrentFirstMatch().Pronostics_ScoreEquipeVisiteur"
                ng-change="ctrl.onChangeScoreFaceOff(1)"
                ng-disabled="ctrl.forecastService.getCurrentFirstMatch().Matches_Pronostiquable == 0">
          <option ng-selected="{{ctrl.forecastService.getCurrentFirstMatch().Pronostics_ScoreEquipeVisiteur == score}}"
                  ng-repeat="score in ctrl.forecastService.getScores() track by $index"
                  value="{{score}}">
            {{score}}
          </option>
        </select>
      </div>
    </div>
  </div>

  <!--Buteurs et joueurs du match aller-->
  <div class="row">
    <button type="button"
            class="col-xs-5 col-xs-offset-1"
            ng-class="{'btn': true, 'btn-primary': ctrl.getCurrentFirstMatchDisplayedTeam() === 0, 'btn-default': ctrl.getCurrentFirstMatchDisplayedTeam() === 1}"
            ng-click="ctrl.setCurrentFirstMatchDisplayedTeam(0)">
      {{ctrl.forecastService.getCurrentFirstMatch().EquipesDomicile_NomCourt}}
    </button>
    <button type="button"
            class="col-xs-5"
            ng-class="{'btn': true, 'btn-primary': ctrl.getCurrentFirstMatchDisplayedTeam() === 1, 'btn-default': ctrl.getCurrentFirstMatchDisplayedTeam() === 0}"
            ng-click="ctrl.setCurrentFirstMatchDisplayedTeam(1)">
      {{ctrl.forecastService.getCurrentFirstMatch().EquipesVisiteur_NomCourt}}
    </button>
  </div>

  <div ng-if="ctrl.getCurrentFirstMatchDisplayedTeam() == 0">
    <div class="row">
      <forecast-scorers-xs scorers="ctrl.forecastService.getCurrentFirstMatchScorersA()"
                           delete-scorer="ctrl.onDeleteScorerFirstMatch($index, forecastScorer, teamAOrB)"
                           team-a-or-b="0">
      </forecast-scorers-xs>
    </div>

    <div class="row">
      <forecast-players-xs players="ctrl.forecastService.getCurrentFirstMatchPlayersA()"
                            add-scorer="ctrl.onAddScorerFirstMatch(player, teamAOrB)"
                            team-a-or-b="0">
      </forecast-players-xs>
    </div>
  </div>

  <div ng-if="ctrl.getCurrentFirstMatchDisplayedTeam() == 1">
    <div class="row">
      <forecast-scorers-xs scorers="ctrl.forecastService.getCurrentFirstMatchScorersB()" delete-scorer="ctrl.onDeleteScorerFirstMatch($index, forecastScorer, teamAOrB)"
        team-a-or-b="0">
      </forecast-scorers-xs>
    </div>

    <div class="row">
      <forecast-players-xs players="ctrl.forecastService.getCurrentFirstMatchPlayersB()" add-scorer="ctrl.onAddScorerFirstMatch(player, teamAOrB)"
        team-a-or-b="0">
      </forecast-players-xs>
    </div>
  </div>

  <hr>

  <!--Logistique du match retour-->
  <div class="row col-xs-12 centered">
    <h6>
      <span class="success">Match {{ctrl.forecastService.currentSecondMatchLimitDateLabel}}</span>
      <br>
      <span class="danger">(max prono {{ctrl.forecastService.currentFirstMatchLimitDateLabel}})</span>
    </h6>
  </div>

  <!--Affiche du match retour-->
  <div class="row">
    <!--Equipe domicile-->
    <div class="col-xs-5 centered">
      <h6>{{ctrl.forecastService.getCurrentSecondMatch().EquipesDomicile_Nom}}</h6>
      <div class="col-xs-12">
        <img class="forecast-team-logo" ng-src="dist/images/equipes/{{ctrl.forecastService.getCurrentSecondMatch().EquipesDomicile_Fanion}}">
      </div>
    </div>

    <!--Partie centrale-->
    <div class="col-xs-2 centered">
      <h5>RETOUR</h5>

      <div class="coefficient-container">
        <!--Coefficient du match différent de 1 (pour une demi-finale ou une finale de coupe européenne)-->
        <div class="coefficient-2" ng-if="ctrl.forecastService.getCurrentSecondMatch().PronosticsCarreFinal_Coefficient == 2"></div>
        <div class="coefficient-3" ng-if="ctrl.forecastService.getCurrentSecondMatch().PronosticsCarreFinal_Coefficient == 3"></div>
      </div>
    </div>

    <!--Equipe visiteur-->
    <div class="col-xs-5 centered">
      <h6>{{ctrl.forecastService.getCurrentSecondMatch().EquipesVisiteur_Nom}}</h6>
      <div class="col-xs-12">
        <img class="forecast-team-logo" ng-src="dist/images/equipes/{{ctrl.forecastService.getCurrentSecondMatch().EquipesVisiteur_Fanion}}">
      </div>
    </div>
  </div>

    <!--Cotes du match retour-->
  <div class="row">
    <!--Cote équipe domicile-->
    <div class="col-xs-5 centered">
      <span>Cote {{ctrl.forecastService.getCurrentSecondMatch().Matches_CoteEquipeDomicile}}</span>
    </div>

    <!--Cote du match nul-->
    <div class="col-xs-2 centered">
      <span>Nul {{ctrl.forecastService.getCurrentSecondMatch().Matches_CoteNul}}
      </span>
    </div>

    <!--Cote équipe visiteur-->
    <div class="col-xs-5 centered">
      <span>Cote {{ctrl.forecastService.getCurrentSecondMatch().Matches_CoteEquipeVisiteur}}
      </span>
    </div>
  </div>

  <!--Points de qualification match retour-->
  <div class="row">
    <!--Points qualification équipe domicile-->
    <div class="col-xs-5 centered">
      <span>
          Qualif. {{ctrl.forecastService.getCurrentSecondMatch().Matches_PointsQualificationEquipeDomicile}}
      </span>
    </div>

    <!--Pas de points de qualification pour le match nul bien entendu-->
    <div class="col-xs-2 centered">
    </div>

    <!--Points qualification équipe visiteur-->
    <div class="col-xs-5 centered">
      <span>
          Qualif. {{ctrl.forecastService.getCurrentSecondMatch().Matches_PointsQualificationEquipeVisiteur}}
      </span>
    </div>
  </div>

  <!--Spécificité des confrontations directes avec le score aller et retour dans la même page-->
  <!--Modifiables sur le match aller et seulement en affichage sur le match retour-->

  <!--Score 90' du match retour-->
  <div class="row">
    <!--Equipe domicile-->
    <div class="col-xs-5 right">
      <div class="col-xs-3 col-xs-offset-9">
        <select class="form-control"
                ng-model="ctrl.forecastService.getCurrentSecondMatch().Pronostics_ScoreEquipeDomicile"
                ng-change="ctrl.onChangeScoreFaceOff(2)"
                ng-disabled="ctrl.forecastService.getCurrentFirstMatch().Matches_Pronostiquable == 0">
          <option ng-selected="{{ctrl.forecastService.getCurrentSecondMatch().Pronostics_ScoreEquipeDomicile == score}}"
                  ng-repeat="score in ctrl.forecastService.getScores() track by $index"
                  value="{{score}}">
            {{score}}
          </option>
        </select>
      </div>
    </div>

    <!--Partie centrale-->
    <div class="col-xs-2 centered">
      <span>90'</span>
    </div>

    <!--Equipe visiteur-->
    <div class="col-xs-5">
      <div class="col-xs-3">
        <select class="form-control"
                ng-model="ctrl.forecastService.getCurrentSecondMatch().Pronostics_ScoreEquipeVisiteur"
                ng-change="ctrl.onChangeScoreFaceOff(3)"
                ng-disabled="ctrl.forecastService.getCurrentFirstMatch().Matches_Pronostiquable == 0">
          <option ng-selected="{{ctrl.forecastService.getCurrentSecondMatch().Pronostics_ScoreEquipeVisiteur == score}}"
                  ng-repeat="score in ctrl.forecastService.getScores() track by $index"
                  value="{{score}}">
            {{score}}
          </option>
        </select>
      </div>
    </div>
  </div>

  <!--Score AP du match retour-->
  <div class="row" ng-if="ctrl.forecastService.displayScoresExtra">
    <!--Equipe domicile-->
    <div class="col-xs-5 right">
      <div class="col-xs-3 col-xs-offset-9">
        <select class="form-control"
                ng-model="ctrl.forecastService.getCurrentSecondMatch().Pronostics_ScoreAPEquipeDomicile"
                ng-change="ctrl.onChangeScoreFaceOff(4)"
                ng-disabled="ctrl.forecastService.getCurrentFirstMatch().Matches_Pronostiquable == 0">
          <option ng-selected="{{ctrl.forecastService.getCurrentSecondMatch().Pronostics_ScoreAPEquipeDomicile == score}}"
                  ng-repeat="score in ctrl.forecastService.getScoresExtraA() track by $index"
                  value="{{score}}">
            {{score}}
          </option>
        </select>
      </div>
    </div>

    <!--Partie centrale-->
    <div class="col-xs-2 centered">
      <span>AP</span>
    </div>

    <!--Equipe visiteur-->
    <div class="col-xs-5">
      <div class="col-xs-3">
        <select class="form-control"
                ng-model="ctrl.forecastService.getCurrentSecondMatch().Pronostics_ScoreAPEquipeVisiteur"
                ng-change="ctrl.onChangeScoreFaceOff(5)"
                ng-disabled="ctrl.forecastService.getCurrentFirstMatch().Matches_Pronostiquable == 0">
          <option ng-selected="{{ctrl.forecastService.getCurrentSecondMatch().Pronostics_ScoreAPEquipeVisiteur == score}}"
                  ng-repeat="score in ctrl.forecastService.getScoresExtraB() track by $index"
                  value="{{score}}">
                {{score}}
          </option>
        </select>
      </div>
    </div>
  </div>

  <!--TAB du match retour-->
  <div class="row" ng-if="ctrl.forecastService.displayShooting">
    <!--Equipe domicile-->
    <div class="col-xs-5 right">
      <label class="radio-inline">
        {{ctrl.forecastService.getCurrentSecondMatch().EquipesDomicile_Nom}}
      </label>
      <input type="radio"
             name="shooting"
             id="shootingA"
             value="1"
             ng-model="ctrl.forecastService.getCurrentSecondMatch().Pronostics_Vainqueur"
             ng-change="ctrl.onChangeScoreFaceOff(6)"
             ng-disabled="ctrl.forecastService.getCurrentFirstMatch().Matches_Pronostiquable == 0">
    </div>

    <!--Partie centrale-->
    <div class="col-xs-2 centered">
      <span class="label"
            ng-class="{'label-success': ctrl.forecastService.getCurrentSecondMatch().Pronostics_Vainqueur == '1' || ctrl.forecastService.getCurrentSecondMatch().Pronostics_Vainqueur == '2', 'label-danger': ctrl.forecastService.getCurrentSecondMatch().Pronostics_Vainqueur != '1' && ctrl.forecastService.getCurrentSecondMatch().Pronostics_Vainqueur != '2'}">
        TAB
      </span>
    </div>

    <!--Equipe visiteur-->
    <div class="col-xs-5 left">
      <input type="radio"
             name="shooting"
             id="shootingB"
             value="2"
             ng-model="ctrl.forecastService.getCurrentSecondMatch().Pronostics_Vainqueur"
             ng-change="ctrl.onChangeScoreFaceOff(6)"
             ng-disabled="ctrl.forecastService.getCurrentFirstMatch().Matches_Pronostiquable == 0">
      <label class="radio-inline">
        {{ctrl.forecastService.getCurrentSecondMatch().EquipesVisiteur_Nom}}
      </label>
    </div>
  </div>

  <!--Buteurs et joueurs du match retour-->
  <div class="row">
    <button type="button" class="col-xs-5 col-xs-offset-1" ng-class="{'btn': true, 'btn-primary': ctrl.getCurrentSecondMatchDisplayedTeam() === 0, 'btn-default': ctrl.getCurrentSecondMatchDisplayedTeam() === 1}"
      ng-click="ctrl.setCurrentSecondMatchDisplayedTeam(0)">
      {{ctrl.forecastService.getCurrentSecondMatch().EquipesDomicile_NomCourt}}
    </button>
    <button type="button" class="col-xs-5" ng-class="{'btn': true, 'btn-primary': ctrl.getCurrentSecondMatchDisplayedTeam() === 1, 'btn-default': ctrl.getCurrentSecondMatchDisplayedTeam() === 0}"
      ng-click="ctrl.setCurrentSecondMatchDisplayedTeam(1)">
      {{ctrl.forecastService.getCurrentSecondMatch().EquipesVisiteur_NomCourt}}
    </button>
  </div>

  <div ng-if="ctrl.getCurrentSecondMatchDisplayedTeam() == 0">
    <div class="row">
      <forecast-scorers-xs scorers="ctrl.forecastService.getCurrentSecondMatchScorersA()" delete-scorer="ctrl.onDeleteScorerSecondMatch($index, forecastScorer, teamAOrB)"
        team-a-or-b="0">
      </forecast-scorers-xs>
    </div>

    <div class="row">
      <forecast-players-xs players="ctrl.forecastService.getCurrentSecondMatchPlayersA()" add-scorer="ctrl.onAddScorerSecondMatch(player, teamAOrB)"
        team-a-or-b="0">
      </forecast-players-xs>
    </div>
  </div>

  <div ng-if="ctrl.getCurrentSecondMatchDisplayedTeam() == 1">
    <div class="row">
      <forecast-scorers-xs scorers="ctrl.forecastService.getCurrentSecondMatchScorersB()" delete-scorer="ctrl.onDeleteScorerSecondMatch($index, forecastScorer, teamAOrB)"
        team-a-or-b="0">
      </forecast-scorers-xs>
    </div>

    <div class="row">
      <forecast-players-xs players="ctrl.forecastService.getCurrentSecondMatchPlayersB()" add-scorer="ctrl.onAddScorerSecondMatch(player, teamAOrB)"
        team-a-or-b="0">
      </forecast-players-xs>
    </div>
  </div>
</div>
