<div class="col-xs-offset-1 col-xs-10 centered full-height"
     ng-if="ctrl.forecastService.getCurrentSingleMatch() !== null">
  <!--Logistique-->
  <div class="row">
    <div class="col-xs-12 centered">
      <h6 class="success">Match et max prono. {{ctrl.forecastService.currentSingleMatchLimitDateLabel}}</h6>
    </div>
  </div>

  <!--Partie affiche du match-->
  <div class="row">
    <div class="col-xs-12">
      <!--Equipe domicile-->
      <div class="col-xs-5 centered">
        <h6>{{ctrl.forecastService.getCurrentSingleMatch().EquipesDomicile_NomCourt}}</h6>
        <div class="col-xs-12">
          <img class="forecast-team-logo" ng-src="dist/images/equipes/{{ctrl.forecastService.getCurrentSingleMatch().EquipesDomicile_Fanion}}">
        </div>
      </div>

      <!--Partie centrale-->
      <div class="col-xs-2 centered">
        <h5>VS</h5>

        <div class="coefficient-container">
          <!--Coefficient du match différent de 1 (pour une demi-finale ou une finale de coupe européenne) ou match Canal ?-->
          <div class="coefficient-canal" ng-if="ctrl.forecastService.getCurrentSingleMatch().Matches_Coefficient > 1"></div>
          <div class="coefficient-2" ng-if="ctrl.forecastService.getCurrentSingleMatch().PronosticsCarreFinal_Coefficient == 2"></div>
          <div class="coefficient-3" ng-if="ctrl.forecastService.getCurrentSingleMatch().PronosticsCarreFinal_Coefficient == 3"></div>
        </div>
      </div>

      <!--Equipe visiteur-->
      <div class="col-xs-5 centered">
        <h6>{{ctrl.forecastService.getCurrentSingleMatch().EquipesVisiteur_NomCourt}}</h6>
        <div class="col-xs-12">
          <img class="forecast-team-logo" ng-src="dist/images/equipes/{{ctrl.forecastService.getCurrentSingleMatch().EquipesVisiteur_Fanion}}">
        </div>
      </div>
    </div>
  </div>

  <!--Partie cote du match-->
  <div class="row">
    <!--Cote équipe domicile-->
    <div class="col-xs-5 centered">
      <span>Cote {{ctrl.forecastService.getCurrentSingleMatch().Matches_CoteEquipeDomicile}}</span>
    </div>

    <!--Cote du match nul-->
    <div class="col-xs-2 centered">
      <span>Nul {{ctrl.forecastService.getCurrentSingleMatch().Matches_CoteNul}}</span>
    </div>

    <!--Cote équipe visiteur-->
    <div class="col-xs-5 centered">
      <span>Cote {{ctrl.forecastService.getCurrentSingleMatch().Matches_CoteEquipeVisiteur}}</span>
    </div>
  </div>

  <hr>

  <!--Score 90' du match-->
  <div class="row">
    <!--Equipe domicile-->
    <div class="col-xs-5 right">
      <div class="col-xs-3 col-xs-offset-9">
        <select class="form-control" ng-model="ctrl.forecastService.getCurrentSingleMatch().Pronostics_ScoreEquipeDomicile" ng-change="ctrl.onChangeScoreSingle(0)"
          ng-disabled="ctrl.forecastService.getCurrentSingleMatch().Matches_Pronostiquable == 0">
          <option ng-selected="{{ctrl.forecastService.getCurrentSingleMatch().Pronostics_ScoreEquipeDomicile == score}}"
                  ng-repeat="score in ctrl.forecastService.getScores() track by $index"
                  value="{{score}}">
            {{score}}
          </option>
        </select>
      </div>
    </div>

    <!--Partie centrale-->
    <div class="col-xs-2 centered">
      <span>90'</span>
    </div>

    <!--Equipe visiteur-->
    <div class="col-xs-5">
      <div class="col-xs-3">
        <select class="form-control" ng-model="ctrl.forecastService.getCurrentSingleMatch().Pronostics_ScoreEquipeVisiteur" ng-change="ctrl.onChangeScoreSingle(1)"
          ng-disabled="ctrl.forecastService.getCurrentSingleMatch().Matches_Pronostiquable == 0">
          <option ng-selected="{{ctrl.forecastService.getCurrentSingleMatch().Pronostics_ScoreEquipeVisiteur == score}}"
                  ng-repeat="score in ctrl.forecastService.getScores() track by $index"
                  value="{{score}}">
            {{score}}
          </option>
        </select>
      </div>
    </div>
  </div>

  <!--Score AP-->
  <div class="row" ng-if="ctrl.forecastService.displayScoresExtra">
    <!--Equipe domicile-->
    <div class="col-xs-5 right">
      <div class="col-xs-3 col-xs-offset-9">
        <select class="form-control" ng-model="ctrl.forecastService.getCurrentSingleMatch().Pronostics_ScoreAPEquipeDomicile" ng-change="ctrl.onChangeScoreSingle(4)"
          ng-disabled="ctrl.forecastService.getCurrentSingleMatch().Matches_Pronostiquable == 0">
            <option ng-selected="{{ctrl.forecastService.getCurrentSingleMatch().Pronostics_ScoreAPEquipeDomicile == score}}"
                    ng-repeat="score in ctrl.forecastService.getScoresExtraA() track by $index"
                    value="{{score}}">
              {{score}}
            </option>
          </select>
      </div>
    </div>

    <!--Partie centrale-->
    <div class="col-xs-2 centered">
      <span>AP</span>
    </div>

    <!--Equipe visiteur-->
    <div class="col-xs-5">
      <div class="col-xs-3">
        <select class="form-control" ng-model="ctrl.forecastService.getCurrentSingleMatch().Pronostics_ScoreAPEquipeVisiteur" ng-change="ctrl.onChangeScoreSingle(5)"
          ng-disabled="ctrl.forecastService.getCurrentSingleMatch().Matches_Pronostiquable == 0">
            <option ng-selected="{{ctrl.forecastService.getCurrentSingleMatch().Pronostics_ScoreAPEquipeVisiteur == score}}"
                    ng-repeat="score in ctrl.forecastService.getScoresExtraB() track by $index"
                    value="{{score}}">
                  {{score}}
            </option>
          </select>
      </div>
    </div>
  </div>

  <!--TAB-->
  <div class="row" ng-if="ctrl.forecastService.displayShooting">
    <!--Equipe domicile-->
    <div class="col-xs-5 right">
      <label class="radio-inline">
          {{ctrl.forecastService.getCurrentSingleMatch().EquipesDomicile_Nom}}
        </label>
      <input type="radio" name="shooting" id="shootingA" value="1" ng-model="ctrl.forecastService.getCurrentSingleMatch().Pronostics_Vainqueur"
        ng-change="ctrl.onChangeScoreSingle(6)" ng-disabled="ctrl.forecastService.getCurrentSingleMatch().Matches_Pronostiquable == 0">
    </div>

    <!--Partie centrale-->
    <div class="col-xs-2 centered">
      <span class="label" ng-class="{'label-success': ctrl.forecastService.getCurrentSingleMatch().Pronostics_Vainqueur == '1' || ctrl.forecastService.getCurrentSingleMatch().Pronostics_Vainqueur == '2', 'label-danger': ctrl.forecastService.getCurrentSingleMatch().Pronostics_Vainqueur != '1' && ctrl.forecastService.getCurrentSingleMatch().Pronostics_Vainqueur != '2'}">
          TAB
        </span>
    </div>

    <!--Equipe visiteur-->
    <div class="col-xs-5 left">
      <input type="radio" name="shooting" id="shootingB" value="2" ng-model="ctrl.forecastService.getCurrentSingleMatch().Pronostics_Vainqueur"
        ng-change="ctrl.onChangeScoreSingle(6)" ng-disabled="ctrl.forecastService.getCurrentSingleMatch().Matches_Pronostiquable == 0">
      <label class="radio-inline">
          {{ctrl.forecastService.getCurrentSingleMatch().EquipesVisiteur_Nom}}
        </label>
    </div>
  </div>

  <hr>

  <!--Buteurs et joueurs-->
  <div ng-if="ctrl.forecastService.getCurrentSingleMatch().Matches_SansButeur == 0">
    <div class="row">
      <button type="button"
              class="col-xs-5 col-xs-offset-1"
              ng-class="{'btn': true, 'btn-primary': ctrl.getDisplayedTeam() === 0, 'btn-default': ctrl.getDisplayedTeam() === 1}"
              ng-click="ctrl.setDisplayedTeam(0)">
        {{ctrl.forecastService.getCurrentSingleMatch().EquipesDomicile_NomCourt}}
      </button>
      <button type="button"
              class="col-xs-5"
              ng-class="{'btn': true, 'btn-primary': ctrl.getDisplayedTeam() === 1, 'btn-default': ctrl.getDisplayedTeam() === 0}"
              ng-click="ctrl.setDisplayedTeam(1)">
        {{ctrl.forecastService.getCurrentSingleMatch().EquipesVisiteur_NomCourt}}
      </button>
    </div>

    <div ng-if="ctrl.getDisplayedTeam() == 0">
      <div class="row">
        <forecast-scorers-xs scorers="ctrl.forecastService.getCurrentSingleMatchScorersA()"
                             delete-scorer="ctrl.onDeleteScorerSingle($index, forecastScorer, teamAOrB)"
                             team-a-or-b="0">
        </forecast-scorers-xs>
      </div>

      <div class="row">
        <forecast-players-xs players="ctrl.forecastService.getCurrentSingleMatchPlayersA()"
                             add-scorer="ctrl.onAddScorerSingle(player, teamAOrB)"
                             team-a-or-b="0">
        </forecast-players-xs>
      </div>
    </div>

    <div ng-if="ctrl.getDisplayedTeam() == 1">
      <div class="row">
        <forecast-scorers-xs scorers="ctrl.forecastService.getCurrentSingleMatchScorersB()"
                              delete-scorer="ctrl.onDeleteScorerSingle($index, forecastScorer, teamAOrB)"
                              team-a-or-b="1">
        </forecast-scorers-xs>
      </div>

      <div class="row">
        <forecast-players-xs players="ctrl.forecastService.getCurrentSingleMatchPlayersB()"
                             add-scorer="ctrl.onAddScorerSingle(player, teamAOrB)"
                             team-a-or-b="1">
        </forecast-players-xs>
      </div>
    </div>
  </div>
</div>
