<!--Barre des championnats en mode LG-->
<div ng-if="!ctrl.generalService.isSmallScreen()">
  <forecast-header-lg></forecast-header-lg>
</div>


<!--Barre des championnats, journées et matches en mode XS-->
<div ng-if="ctrl.generalService.isSmallScreen()">
  <forecast-header-xs></forecast-header-xs>
</div>

<!--Mode LG-->
<div class="full-height" ng-if="!ctrl.generalService.isSmallScreen()">
  <ui-view class="full-height" ng-if="ctrl.forecastService.getCurrentMatchLight() !== null">
    <forecast-match-single-lg class="full-height" ng-if="ctrl.forecastService.getCurrentMatchLight().Matches_TypeMatch != 2 && ctrl.forecastService.getCurrentMatchLight().Matches_TypeMatch != 3">
    </forecast-match-single-lg>

    <forecast-match-face-off-lg class="full-height" ng-if="ctrl.forecastService.getCurrentMatchLight().Matches_TypeMatch == 2 || ctrl.forecastService.getCurrentMatchLight().Matches_TypeMatch == 3">
    </forecast-match-face-off-lg>
  </ui-view>
</div>

<!--Mode SM-->
<div ng-if="ctrl.generalService.isSmallScreen()">
  <ui-view ng-if="ctrl.forecastService.getCurrentMatchLight() !== null">
    <forecast-match-single-xs ng-if="ctrl.forecastService.getCurrentMatchLight().Matches_TypeMatch != 2 && ctrl.forecastService.getCurrentMatchLight().Matches_TypeMatch != 3">
    </forecast-match-single-xs>

    <forecast-match-face-off-xs class="full-height" ng-if="ctrl.forecastService.getCurrentMatchLight().Matches_TypeMatch == 2 || ctrl.forecastService.getCurrentMatchLight().Matches_TypeMatch == 3">
    </forecast-match-face-off-xs>
  </ui-view>
</div>
