<div class="content-all-awards">
  <div class="table-responsive col-sm-12 content-award" ng-scrollable="{scrollX:'none'}">
    <table class="table table-striped table-hover table-condensed">
      <thead>
        <tr class="header-sm">
          <th class="col-sm-1">Rang</th>
          <th class="col-sm-2">Joueurs</th>
          <th><button popover-placement="bottom" uib-popover="Poulpe d'Or" type="button" class="btn btn-default">Or</button></th>
          <th><button popover-placement="bottom" uib-popover="Poulpe d'Argent" type="button" class="btn btn-default">Ag</button></th>
          <th><button popover-placement="bottom" uib-popover="Poulpe de Bronze" type="button" class="btn btn-default">Br</button></th>
          <th><button popover-placement="bottom" uib-popover="Soulier d'Or" type="button" class="btn btn-default">S. Or</button></th>
          <th><button popover-placement="bottom" uib-popover="Brandao" type="button" class="btn btn-default">Brnd</button></th>
          <th><button popover-placement="bottom" uib-popover="Jérémy Morel" type="button" class="btn btn-default">JM</button></th>
          <th><button popover-placement="bottom" uib-popover="Record" type="button" class="btn btn-default">R</button></th>
          <th><button popover-placement="bottom" uib-popover="Record buteur" type="button" class="btn btn-default">RB</button></th>
        </tr>
        <tr class="header-lg">
          <th class="col-sm-1">Rang</th>
          <th class="col-sm-2">Joueurs</th>
          <th>Poulpe d'Or</th>
          <th>Poulpe d'Argent</th>
          <th>Poulpe de Bronze</th>
          <th>Soulier d'Or</th>
          <th>Brandao</th>
          <th>Jérémy Morel</th>
          <th>Record</th>
          <th>Record buteur</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="forecaster in ctrl.contestCentreService.getAwards() track by $index">
          <td class="col-sm-1">{{$index + 1}}</td>
          <td class="col-sm-2">{{forecaster.Pronostiqueur.Pronostiqueurs_NomUtilisateur}}</td>
          <td ng-repeat="award in forecaster.Donnees track by $index">{{forecaster.Donnees[$index]}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>